<div class="d-flex p-3">
    <div>
        <img src="../../../assets/img/{{ product.img }}.jpg" alt="" style="width: 350px; height: 350px;">
    </div>
    <div class="card border-0">
        <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text text-secondary" style="font-size: 1.3em;">${{ product.price }}</p>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>
</div>